.image {
  max-width: 12em;

  -webkit-transition: 0.5s all ease; /* Chrome e Safari */
  -moz-transition: 0.5s all ease; /* Firefox */
  -o-transition: 0.5s all ease; /* Opera */

  box-shadow: 5px 5px 25px #000;

}

.image:hover {
  max-width: 15em;
}

.choose h3 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.title-choose {
  position: absolute;
  margin-top: 10em;
  width: 100%;
}

.title-choose h1 {
  border-top: 

  background-color: none !important;

  margin-top: 0px;
  font-size: 30px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.1;
  color: white;
  z-index: -10000 !important;
}

.title-choose h2 {
  margin-top: 0px;
  font-size: 30px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.1;
  color: white;
  z-index: -10000;
}